<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Knights List</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->

<!--    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>-->
<!--    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>-->
<!--    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>-->

<!--</head>-->
<!--<body>-->
<!--<form class="form-horizontal" th:object="${knight}" th:action="@{/knights}" th:method="post">-->

<!--    <div class="container">-->
<!--&lt;!&ndash;        Aktualny czas <span th:text="${timecomponent.time}"/>&ndash;&gt;-->
<!--&lt;!&ndash;        Posiadane zloto <span th:text="${playerinformation.gold}"/>&ndash;&gt;-->
<!--        <form class="form-horizontal" th:object="${knight}" th:action="@{/knights}" th:method="post">-->

<!--            <div class="form-group">-->

<!--                <label class="control-label">Imie:</label>-->
<!--                <input type="text" class="form-group" th:field="*{name}"/>-->
<!--                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>;-->

<!--            </div>-->
<!--            <div class="form-group">-->
<!--                <label class="control-label">Wiek:</label>-->
<!--                <input type="number" class="form-group" th:field="*{age}"/>-->
<!--<p th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/>;-->


<!--            </div>-->
<!--            <div class="row">-->
<!--                <button type="submit" class="btn btn-default">Utworz rycerza</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--</form>-->


<!--</body>-->
<!--</html>-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add knight</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"/>

    <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">

    <form class="form-horizontal" th:object="${knight}" th:action="@{/assignQuest}" th:method="post">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{name}"/>
        <input type="hidden" th:field="*{age}"/>
        <input type="hidden" th:field="*{level}"/>


        <div class="form-group">
            <label class="control-label">Wykonaj zadanie</label>
            <select th:field="*{quest}">
                <option th:each="quest : ${notStartedQuests}"
                        th:value="${quest.id}"
                        th:text="${quest.description}"></option>

            </select>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-default">Wyslij rycerza</button>
        </div>
    </form>
</div>
</body>
</html>